<h2>index</h2>
<form action="/buy" method="POST">
  <input name="date" type="date" />
  <input name="" type="submit" value="submit"/>
</form>
<% @recs.each do |rec|%>
<p>
  <a href="/items?buy_id=<%= rec[:id] %>&date=<%= rec[:date] %>">
	<%= rec[:id]%>::<%= rec[:date].strftime("%Y/%m/%d %H:%M:%S")%>
  </a>
</p>
<% end %>
