<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
	<% (@css || []).each do |c|%>
	<link rel="stylesheet" href="/css/<%= c %>">
	<% end%>
    <title>
	  <%= @title %>
	</title>
	<% (@js || []).each do |j|%>
	<script src="/js/<%= j %>"></script>
	<% end%>
  </head>
  <body>
    <%= yield %>
  </body>
  <footer>
	<a href="/">index</a>
  </footer>
</html>
